{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": "3.17.1", // default would be 2
            //   "targets": "> 0.25%, not dead"
            "targets": {
                "chrome": "58",
                "ie": "11"
            }
            /*
                "targets": {
                    "browsers": ['last 2 versions', 'ie >= 9'],
                },
            */
        }]
    ]
    // "plugins": [
    //     "transform-class-properties",
    //     "@babel/plugin-proposal-export-default-from",
    //     "@babel/plugin-syntax-export-namespace-from"
    // ]
}
